html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: center;
}
.rightheader {
    margin: 2rem;
    text-align: left;
}
.rightheader h1 {
    color: #DA0090;
    margin-bottom: 0rem;
}
.rightheader p {
    margin-top: 0rem;
}
nav {
    text-align: center;
    border-top: #DA0090 solid;
    border-bottom: #571a03 solid;
    margin-bottom: 2rem;
}
nav li {
    display: inline-block;
    margin-left: 2rem;
}
nav li a {
    color: #571a03;
}
body {
    font-family: 'Open Sans', sans-serif;
}
section {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid #DA0090;
    margin-bottom: 0.3rem;
}
article {
    margin: 2rem 0;
}
article img {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
}
article::after {
    content: "";
    display: table;
    clear: both;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color:#DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    border-top: #DA0090 solid 0.1rem;
    text-align: center;
    font-size: 0.8rem;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer ul li {
    display: inline-block;
}
